<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="WorkshopManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="Default1"
			connectionString="Data Source=PHOTOGRAPHER\WORKSHOP;Initial Catalog=Workshop;Connect Timeout=5;User ID=SuperAdmin;Password=AdminBasem123"
			providerName="System.Data.SqlClient" />
		<add name="Default"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Workshop;Integrated Security=True;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            providerName="System.Data.SqlClient" />
		<add name="ExcelFile"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=&quot;Excel 12.0 Xml;HDR=YES;&quot;"
            providerName="System.Data.OleDb" />
		<add name="OleDB"
            connectionString="Provider=SQLOLEDB;Data Source=.\SQLEXPRESS;Initial Catalog=wildberriesAnalyzer;Integrated Security=SSPI"
            providerName="System.Data.OleDb" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
 <userSettings>
  <WorkshopManagement.Properties.Settings>
   <setting name="UserName" serializeAs="String">
    <value />
   </setting>
   <setting name="Password" serializeAs="String">
    <value />
   </setting>
   <setting name="RememberUserData" serializeAs="String">
    <value>False</value>
   </setting>
  </WorkshopManagement.Properties.Settings>
 </userSettings>
</configuration>

